extends layout

block content
  h1= title
  h2 The #{title} will convert any video format to one that is web compatible.
  p.
    The video will be stored on Amazon AWS S3, and converted using the Zencoder plugin.
    This website was built using node.js and Express
  br
  br
  p#status First, upload your file:
  input#file_input(type='file')
    
  script.
    function get_signed_request_to_AWS(file) {
      var xhr = new XMLHttpRequest()
      console.log("/sign_s3?file_name="+file.name+"&file_type="+file.type)
      xhr.open("GET", "/sign_s3?file_name="+file.name+"&file_type="+file.type);
      xhr.onreadystatechange = function(){
        console.log("oi")
        if(xhr.readyState == 4 && xhr.status == 200) {
          var response = JSON.parse(xhr.responseText)
          console.log(response)
        }
        else{
          alert('Something went wrong when uploading the file to AWS')
        }
      }
    } 
    function initiate_upload() {
      var files = document.getElementById('file_input').files;
      var file = files[0]
      console.log(file.type.split('/')[0])
      if (file==null){
        alert("No file was selected")
        return;
      }
      if (file.type.split('/')[0]!="video"){
        alert("file must be a video")
        return;
      }
      //Try to upload the file to AWS, assyncronous.
      get_signed_request_to_AWS(file)
    }
  
  
    (function() {
      var filepicker = document.getElementById('file_input');
      filepicker.onchange = initiate_upload;
      })();