extends layout

block content
  h1= title
  h2 The #{title} will convert (almost) any video format to one that is web compatible.
  p.
    The video will be stored on Amazon AWS S3, and converted using the Zencoder plugin.
    This website was built using node.js and Express
  br
  br
  p#status First, upload your file:
  p#percentage
  input#file_input(type='file')

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(src='/javascripts/bundle.js')